<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
    <style>
        table {
            width: 100%;
        }
        th, td {
            width: 100px;
            border-bottom: 1px solid;
        }
        
    </style>
</head>
<body>
    <h2>list page</h2>
    <a href="/insert">Move to insert page</a>
    <table>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>시리즈</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        <% if(data) { %>

            <% data.forEach((el, index) => { %>
                <tr>
                    <td><%= el.id %></td>
                    <td><%= el.name %></td>
                    <td><%= el.number %></td>
                    <td><%= el.series %></td>
                    <td><a href="/delete/<%= el.id %>">삭제</a></td>
                    <td><a href="/edit/<%= el.id %>">수정</a></td>
                </tr>
            <% }); %>

        <% }else { %>

        <% } %>
    </table>
</body>
<!-- 데이터베이스로 요청해서 data 객체로 전달 해주면 데이터 베이스에 값이 있다고 가정할 때
    [{id : "", name : "", number : "", series : ""}] -->
</html>