<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>메인 페이지</h1>
    <table>
        <!--클릭한 게시글의 id값을 받아 해당 게시글의 주소로 이동-->
        <a href="/posts/insert">추가 페이지</a>
        <tr>
            <th>번호</th>
            <th>타이틀</th>
            <th>컨텐츠</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        <% data.forEach((el,index) => { %>
            <tr>
                <td><%= el.id %></td>
                <td><a href="/posts/view/<%= el.id %>"><%= el.title %></a></td>
                <td><%= el.content %></td>
                <td><a href="/posts/delete/<%= el.id %>">삭제</a></td>
                <td><a href="/posts/edit/<%= el.id %>">수정</a></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>